@model ArtshopWebApp.Models.Kupac

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kupac</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telbroj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telbroj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mjesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mjesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postbroj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postbroj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zemlja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zemlja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnickoime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnickoime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lozinka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lozinka)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idkupac">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
