@model ArtshopWebApp.Models.Ponudum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ponudum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijenaponuda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijenaponuda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datumponuda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datumponuda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddjeloNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddjeloNavigation.Iddjelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdkupacNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdkupacNavigation.Idkupac)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idponuda">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
