@model ArtshopWebApp.Models.Djelo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Djelo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Godinadjelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Godinadjelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Natpisdjelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Natpisdjelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijenadjelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijenadjelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opisdjelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opisdjelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipdjelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipdjelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imgdjelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imgdjelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdautorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdautorNavigation.Idautor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Iddjelo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
