@model ArtshopWebApp.Models.Autor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datrod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datrod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postbroj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postbroj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drzava)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drzava)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telbroj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telbroj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mjestorod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mjestorod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idautor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
