@model ArtshopWebApp.Models.Izlozba

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Izlozba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imegalerija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imegalerija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pocetak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pocetak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kraj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kraj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drzava)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drzava)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mjesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mjesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postbroj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postbroj)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idizlozba">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
